<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Tracker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <a href="{{url_for('main.home')}}">Home</a>
        <a href="{{url_for('skills.skills')}}">Skills</a>
        <a href="{{ url_for('skills.add_skill') }}">Add Skill</a>
        <a href="{{url_for('applications.applications')}}">Applications</a>
        <a href="{{ url_for('applications.add_application') }}">Add Application</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </nav>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    
</body>
</html>