{% extends 'base.html' %}
{% block content %}
    <h1>My Skills</h1>
    {% if skills %}
    <ul>
        {% for skill in skills %}
            <li>
                {{skill.name}}-{{ skill.category }}-{{skill.level}}-
                <a href="{{ url_for('skills.edit_skill', skill_id=skill.id) }}">
                    Edit
                </a>
                -
                <a href="{{ url_for('skills.delete_skill', skill_id=skill.id) }}">
                    Delete
                </a>

            </li>
            
        {% endfor %}
    </ul>
        
    {% else %}
        
        <p>No skills added yet</p>
        
    {% endif %}
    
{% endblock  %}